.card {
    margin-bottom: 50px;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    cursor: pointer;   
}

.a {
    height: 100%;
    background: 
    linear-gradient(180deg, rgba(0, 0, 0, 0.08) 60%, 
    rgba(0, 0, 0, 0.8) 100%);
    border-radius: 10px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
}



.textCard {
    font-size: 18px;
    color: white;
    margin: 20px 20px;
    width : 238px;
}

@media screen and (max-width: 1200px){
    .card {
        margin: 20px 0px 10px 0px;
        width: 100%;
        height: 300px;    
    }
  
   }